.page-layout__viewport {
  padding-top: 4rem;
}

.page-layout__nav-item--active {
  font-weight: bold;
  text-decoration: underline;
}

.duck {
  display: block;
  width: 120px;
  margin: 1.5rem auto;
}
